<ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Wholesale">
          <a class="nav-link" href="/wholesale">
              <i class="fa fa-truck"></i>
            <span class="nav-link-text">Wholesale</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Retail">
          <a class="nav-link" href="/retail">
            <i class="fa fa-lemon-o"></i>
            <span class="nav-link-text">Retail</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Add Stock">
          <a class="nav-link" data-toggle="modal" data-target="#addStock">
              <i class="fa fa-plus-circle"></i>
            <span class="nav-link-text">Add Stock</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Update Stocks">
          <a class="nav-link" href="/update">
            <i class="fa fa-pencil-square-o"></i>
            <span class="nav-link-text">Update Stocks</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Retail">
                <a class="nav-link" href="/smessages">
                  <i class="fa fa-fw fa-envelope"></i>
                  <span class="nav-link-text">Send Message</span>
                </a>
              </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Summary">
          <a class="nav-link" href="#">
              <i class="fa fa-bar-chart"></i>
            <span class="nav-link-text">Summary</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Generate Report">
          <a class="nav-link" href="#">
              <i class="fa fa-list-alt"></i>
            <span class="nav-link-text">Generate Report</span>
          </a>
        </li>
        
      </ul>