<ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Add Stock">
        <a class="nav-link" href="/farmer">
            <i class="fa fa-plus-circle"></i>
            <span class="nav-link-text">Add New Stock</span>
        </a>
     </li>
     <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Update Stocks">
      <a class="nav-link" href="/update">
        <i class="fa fa-pencil-square-o"></i>
        <span class="nav-link-text">Update Stocks</span>
      </a>
    </li>
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Retail">
      <a class="nav-link" href="/fmessages">
        <i class="fa fa-fw fa-envelope"></i>
        <span class="nav-link-text">Send Message</span>
      </a>
    </li>
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Retail">
        <a class="nav-link" href="#">
          <i class="fa fa-fw fa-smile-o"></i>
          <span class="nav-link-text">Add Activities data</span>
        </a>
      </li>
  </ul>