 <!-- Navigation -->
 <a class="menu-toggle rounded" href="#">
  <i class="fa fa-bars"></i>
</a>
<nav id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
      <a class="" href="/">GamFruits</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="" href="/wholesale">Sales</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="" data-toggle="modal" data-target="/login">Staff Attendance</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="" data-toggle="modal" data-target="/login">Payroll</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="" data-toggle="modal" data-target="/login">Record</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="" data-toggle="modal" data-target="/login">Student Visits</a>
    </li>
    <li class="sidebar-nav-item">
        <a class="" data-toggle="modal" data-target="/login">Farming Info</a>
      </li>
      <li class="sidebar-nav-item">
          <a class="" data-toggle="modal" data-target="/login">Farmers Visits</a>
        </li>
  </ul>
</nav>