<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>GamFruits</title>

  <!--favicicon-->
  <link rel="shortcut icon" href="{{ url_for('static', filename= 'img/favicon.PNG') }}">
  
  <!-- Bootstrap core CSS-->
  <link href="{{ url_for('static', filename= 'vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="{{ url_for('static', filename= 'vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="{{ url_for('static', filename= 'css/sb-admin.css') }}" rel="stylesheet">
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="/">GamFruits</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        {% include 'includes/_dnav.html' %}
      <ul class="navbar-nav sidenav-toggler">
          <li class="nav-item">
            <a class="nav-link text-center" id="sidenavToggler">
              <i class="fa fa-fw fa-angle-left"></i>
            </a>
          </li>
        </ul>

      <ul class="navbar-nav ml-auto">
        <!-- Messages on top navigation -->
        {% include 'includes/_mnav.html' %}
          <li class="nav-item">
              <form class="form-inline my-2 my-lg-0 mr-lg-2">
                <div class="input-group">
                  <input class="form-control" type="text" placeholder="Welcome, {{ session.name }}" disabled>
                </div>
              </form>
            </li>
        <!-- Logout section on top nav-->
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#logout">
            <i class="fa fa-fw fa-sign-out"></i>Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="content-wrapper">
      {% include 'includes/_messages.html' %}
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Retail</li>
      </ol>
      <hr>

      <div class="row" style="margin-right:0.5%">
          <div class="col-sm-3 col-md-6 col-lg-8">
              <!-- Icon Cards-->
              <div class="row">
                {% for stock in stock_details %}
                  <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card text-white bg-primary o-hidden h-100 text-center">
                      <div class="card-body">
                          <p>{{stock.split(',')[0]}}</p>
                          <img src="{{ url_for('static', **{'filename' : stock.split(',')[1] } ) }}" alt="" style="border-radius:5%" width="100" height="100">
                      </div>
                      <button type="button" class="btn btn-info">Add</button>
                      
                    </div>
                  </div>
                {% endfor %}
                </div>
          </div>
          <div class="col-sm-9 col-md-6 col-lg-4" style="background-color:#1D809F; border-radius:10%">
              <h4 class="text-center" style="border-radius:30%;color:whitesmoke">
                Products Bought</h4>
                <h6 style="color:red">Not yet Functional</h6>
            <div style="padding-top:5%">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Qty</th>
                        <th>Total</th>
                        <th>Remove</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Mango</td>
                        <td>45</td>
                        <td>100</td>
                        <td><button><i class="fa fa-minus-circle"></i></button></td>
                      </tr>
                    </tbody>
                  </table>
                  <p id="result"></p>
            </div>
          </div>
      </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © GamFruits 2018</small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    {% include 'includes/_logoutnav.html' %}

         <!-- Modal for adding stock -->
         {% include 'includes/_modalB.html' %}

    <!-- Bootstrap core JavaScript-->
    <script src="{{ url_for('static', filename= 'vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename= 'vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <!-- Core plugin JavaScript-->
    <script src="{{ url_for('static', filename= 'vendor/jquery-easing/jquery.easing.min.js') }}"></script>
    <!-- Custom scripts for all pages-->
    <script src="{{ url_for('static', filename= 'js/sb-admin.min.js') }}"></script>
  </div>
</body>

</html>
