{% extends 'layout.html' %}

{% block body %}
      <!-- Header -->
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <form class="form-signin" method="POST">
              <h1 class="mb-3 font-weight-normal">Please Complete Setup</h1>
                    {% include 'includes/_messages.html' %}
                    <label for="id" class="sr-only">Staff Id</label>
                    <input type="text" name="id" class="form-control" value="{{staff_id}}" disabled>
                    <div class="checkbox mb-3"></div>
                    <label for="name" class="sr-only">Name</label>
                    <input type="text" name="name" class="form-control" value="{{name}}" disabled>
                    <div class="checkbox mb-3"></div>
                    <label for="role" class="sr-only">Role</label>
                    <input type="text" name="role" class="form-control" value="{{role}}" disabled>
                    <div class="checkbox mb-3"></div>
                    <label for="password" class="sr-only">Password</label>
                    <input type="password" name="password" class="form-control" placeholder="new Password" required>
                    <div class="checkbox mb-3"></div>
                    <label for="squestion" class="sr-only">Security Question</label>
                    <input type="text" name="squestion" class="form-control" placeholder="Security Question" required>
                    <div class="checkbox mb-3"></div>
                    <label for="sanswer" class="sr-only">Answer</label>
                    <input type="text" name="sanswer" class="form-control" placeholder="Answer" required>
                    <div class="checkbox mb-3"></div>
                    
            <button class="btn btn-lg btn-primary btn-block" type="submit">Complete </button>
            </form>
          
        </div>
        <div class="overlay"></div>


        
      </header>
{% endblock %}