<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>GamFruits</title>
  <!--favicicon-->
  <link rel="shortcut icon" href="{{ url_for('static', filename= 'img/favicon.PNG') }}">
  
  <!-- Bootstrap core CSS-->
  <link href="{{ url_for('static', filename= 'vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="{{ url_for('static', filename= 'vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="{{ url_for('static', filename= 'css/sb-admin.css') }}" rel="stylesheet">
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="/">GamFruits</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Wholesale">
              <a class="nav-link" href="/wholesale">
                  <i class="fa fa-truck"></i>
                <span class="nav-link-text">Wholesale</span>
              </a>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Retail">
              <a class="nav-link" href="/retail">
                <i class="fa fa-lemon-o"></i>
                <span class="nav-link-text">Retail</span>
              </a>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Add Stock">
              <a class="nav-link" data-toggle="modal" data-target="#addStock">
                  <i class="fa fa-plus-circle"></i>
                <span class="nav-link-text">Add Stock</span>
              </a>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Update Stocks">
              <a class="nav-link" href="/update">
                <i class="fa fa-pencil-square-o"></i>
                <span class="nav-link-text">Update Stocks</span>
              </a>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Summary">
              <a class="nav-link" href="#">
                  <i class="fa fa-bar-chart"></i>
                <span class="nav-link-text">Summary</span>
              </a>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Generate Report">
              <a class="nav-link" href="#">
                  <i class="fa fa-list-alt"></i>
                <span class="nav-link-text">Generate Report</span>
              </a>
            </li>
          </ul>
      <ul class="navbar-nav sidenav-toggler">
          <li class="nav-item">
            <a class="nav-link text-center" id="sidenavToggler">
              <i class="fa fa-fw fa-angle-left"></i>
            </a>
          </li>
        </ul>

      <ul class="navbar-nav ml-auto">
        <!-- Messages on top navigation -->
        {% include 'includes/_mnav.html' %}
          <li class="nav-item">
              <form class="form-inline my-2 my-lg-0 mr-lg-2">
                <div class="input-group">
                  <input class="form-control" type="text" placeholder="Welcome, {{ session.name }}" disabled>
                </div>
              </form>
            </li>
        <!-- Logout section on top nav-->
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#logout">
            <i class="fa fa-fw fa-sign-out"></i>Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Summary</li>
      </ol>
      <hr>

      
        <!-- Area Chart Example-->
        <div class="card mb-3">
            <div class="card-header">
              <i class="fa fa-area-chart"></i> Area Chart Example</div>
            <div class="card-body">
              <canvas id="myAreaChart" width="100%" height="30"></canvas>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
          </div>
          <div class="row">
            <div class="col-lg-8">
              <!-- Example Bar Chart Card-->
              <div class="card mb-3">
                <div class="card-header">
                  <i class="fa fa-bar-chart"></i> Bar Chart Example</div>
                <div class="card-body">
                  <canvas id="myBarChart" width="100" height="50"></canvas>
                </div>
                <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
              </div>
            </div>
            <div class="col-lg-4">
              <!-- Example Pie Chart Card-->
              <div class="card mb-3">
                <div class="card-header">
                  <i class="fa fa-pie-chart"></i> Pie Chart Example</div>
                <div class="card-body">
                  <canvas id="myPieChart" width="100%" height="100"></canvas>
                </div>
                <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
              </div>
            </div>
          </div>

    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © GamFruits 2018</small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    {% include 'includes/_logoutnav.html' %}

        <!-- Modal for adding stock -->
    <div class="modal fade" id="addStock" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add Stock</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body text-center">

                <form method="POST" action="/addStock" enctype="multipart/form-data">
                    <h1 class="mb-3 font-weight-normal">Add Stock</h1>
                          <label for="name" class="sr-only">Name</label>
                          <input type="text" name="name" class="form-control" placeholder="Name" required>
                          <div class="checkbox mb-3"></div>
                          <label for="quantity" class="sr-only">Quantity</label>
                          <input type="number" name="quantity" class="form-control" placeholder="Quantity" min="0" required>
                          
                          <label for="sel1">Wholesale/Retail:</label>
                          <select class="form-control text-left" id="sel1" name="select">
                            <option value="Wholesale">Wholesale</option>
                            <option value="Retail">Retail</option>
                          </select>
                          <div class="checkbox mb-3"></div>
                          <label for="price" class="sr-only">Price</label>
                          <input type="number" name="price" class="form-control" placeholder="Price" 
                          step="any" min="0"  required>
                          <div class="checkbox mb-3"></div>
                          <label for="image" class="sr-only">Upload Image</label>
                          <input type="file" name="image" class="form-control" accept="image/*"  
                          placeholder="Upload Image" required>
                          <div class="checkbox mb-3"></div>
                          <button class="btn btn-lg btn-primary btn-block" type="submit">Add</button>
                  </form>

            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{{ url_for('static', filename= 'vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename= 'vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <!-- Core plugin JavaScript-->
    <script src="{{ url_for('static', filename= 'vendor/jquery-easing/jquery.easing.min.js') }}"></script>
    <!-- Custom scripts for all pages-->
    <script src="{{ url_for('static', filename= 'js/sb-admin.min.js') }}"></script>
    <!-- Page level plugin JavaScript-->
    <script src="{{ url_for('static', filename= 'vendor/chart.js/Chart.min.js') }}"></script>
    <!-- Custom scripts for this page-->
    <script src="{{ url_for('static', filename= 'js/sb-admin-charts.min.js') }}"></script>
  </div>
</body>

</html>
